.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 100vh; /* Adjust the height as needed */
}

.player {
  display: grid;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.video-wrapper{
  grid-column: 2 / span 4;
  position: relative;
  width: 90%;
  height: 100%;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.view-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  
}

.camera {
  background-color: teal;
  align-items: center;
  justify-content: center;
}

.camera-button {
  margin-top: 40px;
  padding: 30px 60px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.camera-button:hover {
  background-color: #45a049;
}